/* ============================
   ZÁKLAD
   ============================ */

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background:
            radial-gradient(circle at top center, rgba(44,160,255,0.35) 0%, transparent 50%),
            #000;
    color: #fff;
    font-family: "Inter", sans-serif;
}

/* ============================
   TOPBAR
   ============================ */

.topbar {
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: min(1200px, 95%);
    height: 45px;
    padding: 0 12px;
    background: rgba(9,9,9,0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.icons {
    display: flex;
    gap: 28px;
}

.icons a {
    font-size: 14px;
    color: #c5c5c5;
    text-decoration: none;
    transition: color 0.3s;
}

.icons a:hover {
    color: #fff;
}

/* ============================
   PROJEKTY SEKCE
   ============================ */

.projekty {
    max-width: 1200px;
    margin: 0 auto;
    padding: 160px 40px 100px;
    text-align: center;
}

/* Nadpis */
.projekty h2 {
    display: inline-block;
    padding: 6px 28px;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 25px;
    background: linear-gradient(to bottom, #1a1a1a, #000);
    color: #dcdcdc;
}

/* ============================
   GRID PROJEKTŮ
   ============================ */

.project-grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
}

.topbar {
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: min(1200px, 95%);
    height: 45px;
    padding: 0 16px;
    background: rgba(9,9,9,0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 25px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

/* Tlačítko zpět */
.back-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 7px 18px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(-45deg, #000, #1a1a1a);
    border: 1px solid rgba(255,255,255,0.25);
    transition: all 0.3s ease;
}

/* Hover efekt */
.back-btn:hover {
    background: linear-gradient(-45deg, #00256c, #5783f3);
    transform: translateX(-4px);
}
